.pageContainer{
    margin-left: 72px;
    padding-top: 10px;
    padding-right: 10px;
    transition: 0.4s ease-in;
    background-color: #f8f9fd;
    .pageContent{
        min-height: calc(100vh - 18vh);
        max-height: calc(100vh - 18vh);
        // padding: 30px 20px;
        border-radius: 8px;
        // box-shadow: 1px 1px 1px 1px gray;
    
    }
}
.activePageContainer{
    transition: 0.4s ease-in;
    width: calc(100% - 260px);
    margin-left: 250px;    
}